examples/src/Augmentation/04-CCwA/model.xsd/niem/adapters/niem-xs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  targetNamespace="https://docs.oasis-open.org/niemopen/ns/model/adapters/niem-xs/6.0/"
  xmlns:appinfo="https://docs.oasis-open.org/niemopen/ns/model/appinfo/6.0/"
  xmlns:ct="https://docs.oasis-open.org/niemopen/ns/specification/conformanceTargets/6.0/"
  xmlns:niem-xs="https://docs.oasis-open.org/niemopen/ns/model/adapters/niem-xs/6.0/"
  xmlns:structures="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  ct:conformanceTargets="https://docs.oasis-open.org/niemopen/ns/specification/NDR/6.0/#SubsetSchemaDocument"
  version="ps02"
  xml:lang="en-US"
  xsi:schemaLocation="https://docs.oasis-open.org/niemopen/ns/model/appinfo/6.0/ ../utility/appinfo.xsd https://docs.oasis-open.org/niemopen/ns/specification/conformanceTargets/6.0/ ../utility/conformanceTargets.xsd">
  <xs:annotation>
    <xs:documentation>Proxy types that carry dictionary metadata and have XML data type simple contents.</xs:documentation>
    <xs:documentation>
      NIEM Model Version 6.0
      Project Specification 02
      1 January 2025
      Copyright (c) OASIS Open 2025. All Rights Reserved.
      Source: https://docs.oasis-open.org/niemopen/niem-model/v6.0/ps02/xsd/
      Latest stage of narrative specification: https://docs.oasis-open.org/niemopen/niem-model/v6.0/niem-model-v6.0.html
      NIEMOpen IPR Statement: https://github.com/niemopen/oasis-open-project/blob/main/IPR-STATEMENT.md
      License: https://github.com/niemopen/niem-model/blob/main/LICENSE.md.
      This work is licensed under a Creative Commons Attribution 4.0 International License:
      CC BY 4.0: Attribution 4.0 International, https://creativecommons.org/licenses/by/4.0/.
      In addition to the above license, each Contributor also agrees in the CLA to provide the 
      additional Specification Non-Assertion Covenants to support finally-approved for any Project 
      Specifications, as explained in Section 15.3 of the OASIS Open Project Rules.
    </xs:documentation>
    <xs:appinfo>
      <appinfo:LocalTerm term="maxInclusive" definition="An inclusive maximum value. To be valid, a value must be less than or equal to the value of xs:maxInclusive."/>
    </xs:appinfo>
  </xs:annotation>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/" schemaLocation="../utility/structures.xsd"/>
  <xs:complexType name="boolean">
    <xs:annotation>
      <xs:documentation>A data type for binary-valued logic (true/false).</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:boolean">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="date">
    <xs:annotation>
      <xs:documentation>A data type for a calendar date with the format CCYY-MM-DD.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:date">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="string">
    <xs:annotation>
      <xs:documentation>A data type for character strings in XML.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="token">
    <xs:annotation>
      <xs:documentation>A data type for tokenized strings.</xs:documentation>
    </xs:annotation>
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attributeGroup ref="structures:SimpleObjectAttributeGroup"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>
