examples/src/Augmentation/04-CCwA/message.xsd/msg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  targetNamespace="http://example.com/N6AugEx/1.0/"
  xmlns:my="http://example.com/N6AugEx/1.0/"
  xmlns:nc="https://docs.oasis-open.org/niemopen/ns/model/niem-core/6.0/"
  xmlns:structures="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  version="message-1"
  xml:lang="en-US">
  <xs:annotation>
    <xs:documentation>Augment complex content with an attribute.</xs:documentation>
  </xs:annotation>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/niem-core/6.0/" schemaLocation="niem/niem-core.xsd"/>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/" schemaLocation="niem/utility/structures.xsd"/>
  <xs:complexType name="EducationAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about an education.</xs:documentation>
    </xs:annotation>
    <xs:sequence/>
    <xs:attribute ref="structures:appliesToParent"/>
  </xs:complexType>
  <xs:complexType name="MessageType">
    <xs:sequence>
      <xs:element ref="nc:PersonEducation"/>
    </xs:sequence>
    <xs:attribute ref="structures:appliesToParent"/>
  </xs:complexType>
  <xs:attribute name="privacyText" type="xs:token"/>
  <xs:element name="EducationAugmentation" type="my:EducationAugmentationType">
    <xs:annotation>
      <xs:documentation>Additional information about an education.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Message" type="my:MessageType" nillable="true"/>
  <xs:element name="SomeProp" type="xs:token" nillable="true"/>
</xs:schema>
