examples/src/Augmentation/10-ASCwE/model.xsd/msg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  targetNamespace="http://example.com/N6AugEx/1.0/"
  xmlns:appinfo="https://docs.oasis-open.org/niemopen/ns/model/appinfo/6.0/"
  xmlns:ct="https://docs.oasis-open.org/niemopen/ns/specification/conformanceTargets/6.0/"
  xmlns:my="http://example.com/N6AugEx/1.0/"
  xmlns:nc="https://docs.oasis-open.org/niemopen/ns/model/niem-core/6.0/"
  xmlns:niem-xs="https://docs.oasis-open.org/niemopen/ns/model/adapters/niem-xs/6.0/"
  xmlns:structures="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  ct:conformanceTargets="https://docs.oasis-open.org/niemopen/ns/specification/NDR/6.0/#SubsetSchemaDocument"
  version="message-1"
  xml:lang="en-US">
  <xs:annotation>
    <xs:documentation>Augment all simple content with an element.</xs:documentation>
    <xs:appinfo>
      <appinfo:Augmentation property="my:PrivacyAssertion" globalClassCode="LITERAL"/>
    </xs:appinfo>
  </xs:annotation>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/niem-core/6.0/" schemaLocation="niem/niem-core.xsd"/>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/adapters/niem-xs/6.0/" schemaLocation="niem/adapters/niem-xs.xsd"/>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/" schemaLocation="niem/utility/structures.xsd"/>
  <xs:complexType name="MessageType">
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:PersonEducation"/>
          <xs:element ref="my:PrivacyAssertion" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element ref="my:MessageAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PrivacyAssertionType" appinfo:referenceCode="IDREF">
    <xs:complexContent>
      <xs:extension base="structures:ObjectType">
        <xs:sequence>
          <xs:element ref="nc:Date"/>
          <xs:element ref="my:PrivacyText"/>
          <xs:element ref="my:PrivacyAssertionAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Message" type="my:MessageType" nillable="true"/>
  <xs:element name="MessageAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for MessageType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PrivacyAssertion" type="my:PrivacyAssertionType" nillable="true"/>
  <xs:element name="PrivacyAssertionAugmentationPoint" abstract="true">
    <xs:annotation>
      <xs:documentation>An augmentation point for PrivacyAssertionType.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PrivacyText" type="niem-xs:string" nillable="true"/>
</xs:schema>
