examples/src/Augmentation/05-SCwA/message.xsd/niem/niem-core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  targetNamespace="https://docs.oasis-open.org/niemopen/ns/model/niem-core/6.0/"
  xmlns:my="http://example.com/N6AugEx/1.0/"
  xmlns:nc="https://docs.oasis-open.org/niemopen/ns/model/niem-core/6.0/"
  xmlns:structures="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  version="ps02-sub1"
  xml:lang="en-US">
  <xs:annotation>
    <xs:documentation>NIEM Core.</xs:documentation>
  </xs:annotation>
  <xs:import namespace="http://example.com/N6AugEx/1.0/" schemaLocation="../msg.xsd"/>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/" schemaLocation="utility/structures.xsd"/>
  <xs:complexType name="EducationType">
    <xs:annotation>
      <xs:documentation>A data type for a person's educational background.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="nc:EducationDescriptionText" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="nc:EducationInProgressIndicator" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="structures:appliesToParent"/>
  </xs:complexType>
  <xs:complexType name="PersonType">
    <xs:annotation>
      <xs:documentation>A data type for a human being.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="nc:PersonEducation" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="structures:appliesToParent"/>
  </xs:complexType>
  <xs:complexType name="TextType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="my:privacyText" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:element name="Date" type="xs:date" nillable="true">
    <xs:annotation>
      <xs:documentation>A full date.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EducationDescriptionText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A description of a person's educational background.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EducationInProgressIndicator" type="xs:boolean" nillable="true">
    <xs:annotation>
      <xs:documentation>True if a person's formal education is still in progress; false otherwise.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PersonEducation" type="nc:EducationType" nillable="true">
    <xs:annotation>
      <xs:documentation>A person's educational background.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
