examples/src/Augmentation/06-SCwE/message.xsd/msg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  targetNamespace="http://example.com/N6AugEx/1.0/"
  xmlns:my="http://example.com/N6AugEx/1.0/"
  xmlns:nc="https://docs.oasis-open.org/niemopen/ns/model/niem-core/6.0/"
  xmlns:structures="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  version="message-1"
  xml:lang="en-US">
  <xs:annotation>
    <xs:documentation>Augment simple content with an element.</xs:documentation>
  </xs:annotation>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/niem-core/6.0/" schemaLocation="niem/niem-core.xsd"/>
  <xs:import namespace="https://docs.oasis-open.org/niemopen/ns/model/structures/6.0/" schemaLocation="niem/utility/structures.xsd"/>
  <xs:complexType name="MessageType">
    <xs:sequence>
      <xs:element ref="nc:PersonEducation"/>
      <xs:element ref="my:PrivacyAssertion" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute ref="structures:appliesToParent"/>
  </xs:complexType>
  <xs:complexType name="PrivacyAssertionType">
    <xs:sequence>
      <xs:element ref="nc:Date"/>
      <xs:element ref="my:PrivacyText"/>
    </xs:sequence>
    <xs:attribute ref="structures:id"/>
    <xs:attribute ref="structures:ref"/>
    <xs:attribute ref="structures:appliesToParent"/>
  </xs:complexType>
  <xs:complexType name="TextAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about a text.</xs:documentation>
    </xs:annotation>
    <xs:sequence/>
    <xs:attribute ref="structures:appliesToParent"/>
  </xs:complexType>
  <xs:attribute name="privacyAssertionRef" type="xs:IDREFS"/>
  <xs:element name="Message" type="my:MessageType" nillable="true"/>
  <xs:element name="PrivacyAssertion" type="my:PrivacyAssertionType" nillable="true"/>
  <xs:element name="PrivacyText" type="xs:string" nillable="true"/>
  <xs:element name="TextAugmentation" type="my:TextAugmentationType">
    <xs:annotation>
      <xs:documentation>Additional information about a text.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
