examples/src/Augmentation/00-N5-Subset/domains/jxdm.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  targetNamespace="http://release.niem.gov/niem/domains/jxdm/7.2/"
  xmlns:appinfo="http://release.niem.gov/niem/appinfo/5.0/"
  xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/"
  xmlns:j="http://release.niem.gov/niem/domains/jxdm/7.2/"
  xmlns:nc="http://release.niem.gov/niem/niem-core/5.0/"
  xmlns:structures="http://release.niem.gov/niem/structures/5.0/"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/5.0/#ReferenceSchemaDocument"
  version="1"
  xml:lang="en-US"
  xsi:schemaLocation="http://release.niem.gov/niem/appinfo/5.0/ ../utility/appinfo.xsd http://release.niem.gov/niem/conformanceTargets/3.0/ ../utility/conformanceTargets.xsd">
  <xs:annotation>
    <xs:documentation>Justice</xs:documentation>
    <xs:appinfo>
      <appinfo:LocalTerm literal="The American Association of Motor Vehicle Administrators" term="AAMVA"/>
      <appinfo:LocalTerm literal="AAMVA Code Dictionary" term="ACD"/>
      <appinfo:LocalTerm literal="Americans with Disabilities Act" term="ADA"/>
      <appinfo:LocalTerm literal="Automated Fingerprint Identification System" term="AFIS"/>
      <appinfo:LocalTerm definition="Letter(s)" term="Alpha"/>
      <appinfo:LocalTerm literal="America's Missing: Broadcast Emergency Response" term="Amber"/>
      <appinfo:LocalTerm literal="The Data Dictionary for Traffic Record Systems, maintained by AAMVA, the American Association of Motor Vehicle Administrators" term="ANSID20"/>
      <appinfo:LocalTerm literal="Association of Public-Safety Communications Officials (APCO) - International, Inc." term="APCO"/>
      <appinfo:LocalTerm literal="Blood Alcohol Concentration" term="BAC"/>
      <appinfo:LocalTerm literal="Bureau of Prisons" term="BOP"/>
      <appinfo:LocalTerm literal="Board of Parole Hearings" term="BPH"/>
      <appinfo:LocalTerm literal="Brady Law" term="Brady"/>
      <appinfo:LocalTerm literal="Commercial Driver's License" term="CDL"/>
      <appinfo:LocalTerm definition="Code of Federal Regulations" term="CFR"/>
      <appinfo:LocalTerm literal="Criminal History Record Information" term="CHRI"/>
      <appinfo:LocalTerm literal="Criminal Justice Information System" term="CJIS"/>
      <appinfo:LocalTerm literal="Commercial Learners Permit" term="CLP"/>
      <appinfo:LocalTerm literal="Commercial Motor Vehicle" term="CMV"/>
      <appinfo:LocalTerm literal="Combined DNA Index System" term="CODIS"/>
      <appinfo:LocalTerm literal="Correctional Offender Management Profiling for Alternative Sanctions" term="COMPAS"/>
      <appinfo:LocalTerm literal="Drug Enforcement Administration" term="DEA"/>
      <appinfo:LocalTerm literal="Department of Homeland Security" term="DHS"/>
      <appinfo:LocalTerm literal="Department of Mental Health" term="DMH"/>
      <appinfo:LocalTerm literal="Deoxyribonucleic acid" term="DNA"/>
      <appinfo:LocalTerm literal="Department of Transportation" term="DOT"/>
      <appinfo:LocalTerm literal="Emergency Medical Service" term="EMS"/>
      <appinfo:LocalTerm definition="An enhanceable offense means that specific factors can increase the severity level of the offense." term="Enhanceable"/>
      <appinfo:LocalTerm literal="Federal Bureau of Investigation" term="FBI"/>
      <appinfo:LocalTerm literal="file control number" term="FCN"/>
      <appinfo:LocalTerm literal="federal firearms license" term="FFL"/>
      <appinfo:LocalTerm literal="Federal Information Processing Standards" term="FIPS"/>
      <appinfo:LocalTerm literal="Geographic-Drug Enforcement Program" term="GDEP"/>
      <appinfo:LocalTerm literal="gross vehicle weight rating" term="GVWR"/>
      <appinfo:LocalTerm literal="Hazardous Materials" term="HazMat"/>
      <appinfo:LocalTerm literal="Hazardous Material Endorsement" term="HME"/>
      <appinfo:LocalTerm literal="high risk sex offender" term="HRSO"/>
      <appinfo:LocalTerm literal="Integrated Automated Fingerprint Identification System" term="IAFIS"/>
      <appinfo:LocalTerm literal="Integrated Ballistic Identification System" term="IBIS"/>
      <appinfo:LocalTerm literal="Interstate Commerce Commission" term="ICC"/>
      <appinfo:LocalTerm literal="International Standard Book Number" term="ISBN"/>
      <appinfo:LocalTerm definition="Joint Automated Booking System" literal="JABS" term="JABS"/>
      <appinfo:LocalTerm definition="Under the Keyhea injunction, 'involuntary medication' cannot be administered to a state prisoner for more than three days unless the professional staff of the facility in which the prisoner is incarcerated has analyzed the prisoner's condition and found that the prisoner is, as a result of a mental disorder, 'gravely disabled and incompetent to refuse medication or a danger to others, or a danger to self,' and the prisoner has been 'advised of the need for, but has not been willing to accept medication on a voluntary basis.'" term="Keyhea"/>
      <appinfo:LocalTerm literal="Law Enforcement Officer Killed or Assaulted" term="LEOKA"/>
      <appinfo:LocalTerm literal="License Plate State" term="LIS"/>
      <appinfo:LocalTerm definition="An inkless, electronic means of capturing fingerprints in a digitized format and then transmitting them to a state repository and/or the FBI" term="Livescan"/>
      <appinfo:LocalTerm definition="State/Country Index" term="LSTA"/>
      <appinfo:LocalTerm literal="Monthly Arrest and Citation Register" term="MACR"/>
      <appinfo:LocalTerm literal="Motor Carrier Management Information System" term="MCMIS"/>
      <appinfo:LocalTerm literal="Manufacturer's certificate of origin" term="MCO"/>
      <appinfo:LocalTerm literal="Motor Carrier Safety Improvement Process" term="MCSIP"/>
      <appinfo:LocalTerm literal="mentally disordered offender" term="MDO"/>
      <appinfo:LocalTerm literal="Mental Health Services Delivery System" term="MHSDS"/>
      <appinfo:LocalTerm literal="Model Minimum Uniform Crash Criteria" term="MMUCC"/>
      <appinfo:LocalTerm literal="Modus Operandi" term="MO"/>
      <appinfo:LocalTerm literal="Mode of operating" term="ModusOperandi"/>
      <appinfo:LocalTerm literal="Multiple" term="Multi"/>
      <appinfo:LocalTerm literal="National Crime Information Center" term="NCIC"/>
      <appinfo:LocalTerm literal="National Center for Missing &amp; Exploited Children" term="NCMEC"/>
      <appinfo:LocalTerm literal="National Data Exchange" term="NDEX"/>
      <appinfo:LocalTerm literal="National Data Exchange" term="NDEx"/>
      <appinfo:LocalTerm literal="National Incident Based Reporting System" term="NIBRS"/>
      <appinfo:LocalTerm literal="National Insurance Crime Bureau" term="NICB"/>
      <appinfo:LocalTerm literal="National Instant Criminal Background Check System" term="NICS"/>
      <appinfo:LocalTerm literal="National Law Enforcement Telecommunication Systems" term="NLETS"/>
      <appinfo:LocalTerm literal="Originating Case Agency" term="OCA"/>
      <appinfo:LocalTerm definition="A nine-character identifier assigned by the FBI Criminal Justice Information Systems (CJIS) staff to an organization, which must have met the established qualifying criteria for ORI assignment to identify the agency in transactions on CJIS Systems." term="ORI"/>
      <appinfo:LocalTerm literal="Peace Official Standards and Training" term="POST"/>
      <appinfo:LocalTerm definition="A word following a street name that indicates the directional taken by the thoroughfare from an arbitrary starting point or line, or the sector where it is located." term="Postdirectional"/>
      <appinfo:LocalTerm definition="A word preceding a street name that indicates the directional taken by the thoroughfare from an arbitrary starting point or line, or the sector where it is located." term="Predirectional"/>
      <appinfo:LocalTerm literal="Performance and Registration Information Systems Management" term="PRISM"/>
      <appinfo:LocalTerm definition="Public Law 109–13, 119 Statute 302, enacted May 11, 2005, was an Act of Congress that modified U.S. federal law pertaining to security, authentication, and issuance procedures standards for the state driver's licenses and identification (ID) cards, as well as various immigration issues pertaining to terrorism." term="REALID"/>
      <appinfo:LocalTerm literal="Registration State" term="RES"/>
      <appinfo:LocalTerm definition="Rhesus (Rh) factor is an inherited protein found on the surface of red blood cells." term="RH"/>
      <appinfo:LocalTerm literal="Racketeer Influenced and Corrupt Organizations" term="RICO"/>
      <appinfo:LocalTerm literal="Safety Status Measurement System" term="SAFESTAT"/>
      <appinfo:LocalTerm literal="A person who must be kept separate from another person." term="Separatee"/>
      <appinfo:LocalTerm literal="Scars, Marks, Tattoos, and Other Characteristics" term="SMT"/>
      <appinfo:LocalTerm literal="Social Security Number" term="SSN"/>
      <appinfo:LocalTerm literal="traffic control device" term="TCD"/>
      <appinfo:LocalTerm literal="Transaction Control Number" term="TCN"/>
      <appinfo:LocalTerm literal="III - Interstate Identification Index system" term="TripleI"/>
      <appinfo:LocalTerm definition="Transportation Security Administration" term="TSA"/>
      <appinfo:LocalTerm literal="(Firearm) Type" term="TYP"/>
      <appinfo:LocalTerm literal="(Article) Type" term="TYPA"/>
      <appinfo:LocalTerm literal="(ORI) Type" term="TYPO"/>
      <appinfo:LocalTerm literal="Uniform Crime Reporting" term="UCR"/>
      <appinfo:LocalTerm literal="United States Department of Transportation" term="USDOT"/>
      <appinfo:LocalTerm literal="United States Marshal Service" term="USMS"/>
      <appinfo:LocalTerm literal="Violent Criminal Apprehension Program" term="VICAP"/>
      <appinfo:LocalTerm literal="Vehicle Identification Number" term="VIN"/>
      <appinfo:LocalTerm literal="Vehicle Identification Number Analysis" term="VINA"/>
      <appinfo:LocalTerm literal="Western Hemisphere Travel Initiative" term="WHTI"/>
      <appinfo:LocalTerm literal="X-Ray" term="XRay"/>
      <appinfo:LocalTerm literal="X-Rays" term="XRays"/>
    </xs:appinfo>
  </xs:annotation>
  <xs:import namespace="http://release.niem.gov/niem/niem-core/5.0/" schemaLocation="../niem-core.xsd"/>
  <xs:import namespace="http://release.niem.gov/niem/structures/5.0/" schemaLocation="../utility/structures.xsd"/>
  <xs:complexType name="EducationAugmentationType">
    <xs:annotation>
      <xs:documentation>A data type for additional information about an education.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="structures:AugmentationType">
        <xs:sequence>
          <xs:element ref="j:EducationTotalYearsText" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EducationAugmentation" type="j:EducationAugmentationType" substitutionGroup="nc:EducationAugmentationPoint" nillable="true">
    <xs:annotation>
      <xs:documentation>Additional information about an education.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EducationTotalYearsText" type="nc:TextType" nillable="true">
    <xs:annotation>
      <xs:documentation>A total number of years a person has been involved in attaining their education.</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
